<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.weihu.kol.db.dao.PricesDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.weihu.kol.db.po.Prices">
        <id column="id" property="id" />
        <result column="actor_sn" property="actorSn" />
        <result column="actor_data" property="actorData" />
        <result column="commission" property="commission" />
        <result column="price" property="price" />
        <result column="provider" property="provider" />
        <result column="insure_endtime" property="insureEndtime" />
        <result column="is_re_quote" property="isReQuote" />
        <result column="ctime" property="ctime" />
        <result column="utime" property="utime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, actor_sn, actor_data, commission, price, provider,is_re_quote, insure_endtime, ctime, utime, create_user_id, update_user_id
    </sql>

</mapper>
