<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.weihu.kol.db.dao.WorkOrderDataDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.weihu.kol.db.po.WorkOrderData">
        <id column="id" property="id" />
        <result column="fields_id" property="fieldsId" />
        <result column="project_id" property="projectId" />
        <result column="work_order_id" property="workOrderId" />
        <result column="status" property="status" />
        <result column="data" property="data" />
        <result column="ctime" property="ctime" />
        <result column="utime" property="utime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="price_only_day" property="priceOnlyDay" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fields_id, project_id, work_order_id, status, data, ctime, utime, create_user_id, update_user_id,price_only_day
    </sql>

</mapper>
